.adacademy-div {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .adacademy-div h1 {
    text-align: center;
    margin-bottom: 20px;
    
  }
  
  .adacademy-div label {
    display: block;
    margin-bottom: 10px;
  }
  
  .adacademy-div input[type="text"],
  .adacademy-div input[type="email"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .adacademy-div button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .adacademy-div button[type="submit"]:hover {
    background-color: #45a049;
  }
  