.admin-m-div>img{
    width: 103%;
    top: 0px;
    position: relative;
    left: -30px;
    height: 70%;
}
.frm{
    margin-top:70px!important;
    left: 270px;
    position: relative;
}
 